.content {
  height: auto;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;

  & .services-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 75px;
  }

  & .content-bottom {
    background: linear-gradient(113.46deg, #d8e9f5 21.79%, #f4efd1 54.02%, #fad3d0 87.31%);
    width: 100%;

    & .content-bottom-texts {
      background: linear-gradient(178.99deg, #e5e5e5 14.45%, rgba(255, 255, 255, 0.06) 77.45%);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10%;

      & .text-one,
      .text-two,
      .text-three,
      .text-four {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        width: 20%;

        & .tick {
          display: flex;
          position: absolute;
          left: -20%;
        }
      }
    }

    & .sub-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      padding: 0% 8% 5% 8%;

      & .slogan {
        width: 50%;
        & .sub-slogan {
          display: flex;
          flex-direction: row;
          font-size: 34px;
          letter-spacing: 0.1rem;
        }
      }

      & .sub-info {
        width: 50%;
        & .email-input {
          display: flex;
          flex-direction: column;
          border-radius: 15px;
          width: 100%;
          height: 50px;
          padding: 20px;
          border: none;
        }

        & .checkbox-label {
          color: #0c0d0f;
          font-size: 16px;
          padding-left: 10px;
        }

        & .sub-btn {
          width: 200px;
          height: 60px;
          background-color: #0c0d0f;
          border-radius: 30px;
          color: #ffffff;
          border: none;
          margin-top: 10px;

          & span {
            font-size: 18px;
          }
        }

        & .input-info {
          color: #0c0d0f;
          padding-top: 10px;
          font-size: 14px;
        }

        & #check-box {
          width: 20px;
          height: auto;
          border-radius: 5px;
          border: none;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .content-bottom {
      .content-bottom-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20% 10% 15% 20%;

        & .text-one,
        .text-two,
        .text-three,
        .text-four {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          align-items: flex-start;
          width: 100%;

          & .tick {
            display: flex;
            position: absolute;
            left: -20%;
          }
        }
      }

      & .sub-content {
        display: flex;
        width: 100%;

        & .slogan {
          display: flex;
          width: 100%;

          .sub-slogan {
            width: 100%;
          }
        }

        & .sub-info {
          width: 100%;
        }
      }
    }
  }
}
